<!-- Navigation Links -->
<nav class="bg-white/25">
    <!-- Burger Icon for mobile -->
    <div class="md:hidden py-2">
        <button id="menu-button" class="text-gray-600 focus:outline-none">
            <!-- Burger icon (3 horizontal lines) -->
            <svg
                class="w-8 h-8 inline-block"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                ></path>
            </svg>
            <span style="position:relative;top:3px">Menu</span>
        </button>
    </div>
    <ul id="mobile-menu" class="hidden md:flex flex-col md:flex-row mx-auto border-t max-sm:border-gray-400">
        <li class="flex-1">
            <a href="/about-me" class="no-underline inline-block w-full p-4 hover:bg-white/20">About me</a>
        </li>
        <li class="flex-1">
            <a href="/testimonials" class="no-underline inline-block w-full p-4 hover:bg-white/20">Testimonials</a>
        </li>
        <li class="flex-1">
            <a href="/what-is-mbsr" class="no-underline inline-block w-full p-4 hover:bg-white/20">What is MBSR</a>
        </li>
        <li class="flex-1">
            <a href="/blogs" class="no-underline inline-block w-full p-4 hover:bg-white/20">Blog</a>
        </li>
        <li class="flex-1">
            <a href="/contact" class="no-underline inline-block w-full p-4 hover:bg-white/20">Contact</a>
        </li>
    </ul>
    <!-- Mobile Menu (hidden by default) -->
    <!-- <div >
        <ul class="flex flex-col space-y-4 p-4">
            <li>
                <a href="/about-me" class="text-gray-600 hover:text-gray-900">About me</a>
            </li>
            <li>
                <a href="/testimonials" class="text-gray-600 hover:text-gray-900">Testimonials</a>
            </li>
            <li>
                <a href="/what-is-mbsr" class="text-gray-600 hover:text-gray-900">What is MBSR</a>
            </li>
            <li>
                <a href="/blogs" class="text-gray-600 hover:text-gray-900">Blog</a>
            </li>
            <li>
                <a href="/contact" class="text-gray-600 hover:text-gray-900">Contact</a>
            </li>
            <li>
                <a href="/privacy-policy" class="text-gray-600 hover:text-gray-900">Privacy policy</a>
            </li>
        </ul>
    </div> -->
</nav>
