<!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.untangled-presence.com{{ page.url | default("/") }}">
        <meta property="og:title" content="{{ title | default("My Website") }}">
        <meta property="og:description" content="{{ content | excerpt | default("default") }}">
        <meta property="og:image" content="https://www.untangled-presence.com/images/blog/{{ image | default("logo.png") }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="https://www.untangled-presence.com{{ page.url | default("/") }}">
        <meta name="twitter:title" content="{{ title | default("My Website") }}">
        <meta name="twitter:description" content="{{ content | excerpt | default("default") }}">
        <meta name="twitter:image" content="https://www.untangled-presence.com/images/blog/{{ image | default("logo.png") }}">