{% extends "base.njk" %}

{% block title %}Untangled - About me{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10 text-left text-xl">

    {{ mac.heading('Mindfulness and me') }}

    <img src="/images/kirsty-2.jpg" alt="a picture of kirsty, smiling" class="md:float-right md:w-5/12 my-8 md:ml-8">
    <p class="pt-4">I started practising mindfulness in 2013. At the time I’d been recently promoted and was juggling my career with raising my 2 primary school aged children. I was stressed out, frequently lost in thought ruminating or catastrophising and felt like I often missed out on really being present when it mattered most. This often meant that whilst I worked part-time to be with my children I was often only there physically because mentally I was somewhere else, mostly ‘in’ work!</p>
    <!-- <p>I’m a very organised person and had lists coming out of my ears! I could keep on top of everything if I just kept going, kept focussed and kept ticking things off. When I completed something, I simply moved on to the next thing without pause. Often, I felt like I held my breath when I went into work and let it out when I came out.</p> -->
    <p>Then I started learning about mindfulness and meditating. I’m calmer, happier, more compassionate and less stressed. I’ve learnt to respond more helpfully to things in life, instead of reacting automatically from being caught up in my thoughts and emotions. Most importantly I could be present for my children, I could listen to them when they met me in the playground and I could notice the bedtime stories I read! I found a way to be present at home and to disconnect from work in a healthy way. This meant I had more energy and focus in work too so I could perform well, build better relationships and enhance my leadership skills!</p>
    <p>I have a tendency towards perfectionism. Practising mindfulness and especially completing the MBSR course has been life changing. I now truly appreciate that life is imperfect, and things will go wrong, it’s all part of being human. I am now kinder and more understanding towards myself, and I respond with gentleness and care when I make a mistake, and things don’t go the way I’d hoped.</p>
    <!-- <p>Mindfulness has helped me to put things in perspective and prioritise the things that matter, helping me to have more balance.</p> -->
    <!-- <p>I know the importance of pausing and celebrating successes rather than just moving on to the next thing.</p> -->
    <p>I also do things more calmly. I practise walking more calmly and gently and speaking more slowly.  I breathe and I notice that now. If I do get stressed, which I occasionally do, I am kind to myself about it and offer myself comfort.</p>
    <p>I completed the MBSR course in 2017 and in 2022 qualified as a BAMBA accredited mindfulness teacher with Mindfulness-in-Mind, so that I can deliver the course that had such a profound impact on me.</p>
    <p>At home I live with my husband, two children and our miniature poodle dog! I’m a chartered accountant (ACCA) and have worked in the social housing sector since 2003.</p>
</div>
{% endblock %}
