{% extends "base.njk" %}

{% block title %}Untangled - Blog{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10text-xl">
    <h1 class="text-center text-6xl py-8 font-bold">Blog</h1>
    {% for post in collections.posts | reverse %}
    <a href="{{ post.url }}" class="flex flex-col md:flex-row my-4 no-underline block bloglink text-left bg-white/25 p-8">
        <div class="flex-1">
        <div class="h-48 w-full mb-4 md:mb-0 aspect-square bg-center bg-cover bg-no-repeat" style="background-image: url('/images/blog/{{ post.data.image }}');"></div>
    </div>
    <div class="flex-1 pl-4">
        <h2 class="text-2xl font-normal">{{ post.data.title }}</h2>        
        <p> <time>{{ post.date | postDate }}</time> </p>
        <p>{{ post.content | excerpt }}</p>
    </div>
    </a>    
    <!-- &hearts; -->
    {% endfor %}
</div>
{% endblock %}
