{% extends "base.njk" %}

{% block title %}Untangled - About me{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10 text-left text-xl mb-16">
    <h1 class="text-center text-6xl py-8 font-bold">Contact me</h1>
    <p class="text-center">Contact me at <a href="mailto:kirsty.morgan@gmail.com">kirsty.morgan@gmail.com</a></p>
    
</div>
{% endblock %}
