{% extends "base.njk" %}

{% block title %}Untangled - About me{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10 text-left text-xl">
   
    {{ mac.heading('Meditations') }}

    <a href="https://insighttimer.com/kirstymor00002" class="flex flex-col md:flex-row my-4 no-underline block text-left bg-white/25 p-2 hover:bg-white/50 rounded-lg mb-8">
        <div class="flex-1">
            <img src="/images/insight-timer.png" class="lazy"/>
        </div>
        <div class="flex-1 px-4 pt-8">
            <h2 class="font-bold text-center md:text-left">Insight Timer</h2>
            <p>I've recorded a number of different meditations that you can find on <u>Insight Timer</u></p>
        </div>
    </a> 

    <a href="https://www.youtube.com/@kirstymorgan7252" class="flex flex-col md:flex-row my-4 no-underline block text-left bg-white/25 p-2 hover:bg-white/50 rounded-lg mb-8">
        <div class="flex-1">
            <img src="/images/youtube.webp" class="lazy"/>
        </div>
        <div class="flex-1 px-4 pt-8">
            <h2 class="font-bold text-center md:text-left">YouTube</h2>
            <p>I've also created some videos <u>on YouTube</u> some of which are guided meditations.</p>
        </div>
    </a> 

    <p>Anyone who completes my 8 week Mindfulness-Based Stress Reduction course will have access to the full range of meditations that I introduce and guide during it.</p>
    
    
</div>
{% endblock %}
