{% extends "base.njk" %}

{% block title %}Untangled - Privacy policy{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-md px-8 leading-10 text-left text-xl">
    <h1 class="text-center text-6xl py-8 font-bold">Privacy policy</h1>
    <p class="text-2xl font-normal mb-8">This policy outlines our commitment to keeping your data safe and secure and outlines our responsibilities in accordance with the Data Protection Act 2018.</p>
    <p class="font-bold">Our contact details</p>
    <p>
        <b>Name:</b> Kirsty Morgan
        <br>
        <b>E-mail</b>: kirsty.morgan@gmail.com
        <br>
        <b>Privacy Policy implementation date</b>: 18/11/2022
    </p>
    <p class="font-bold">The type of personal information we collect</p>
    <p>We currently collect and process the following information:</p>
    <ul class="list-disc pl-8">
        <li>Information such as name and contact details including email address, postal address, telephone number, GP details and social media accounts</li>
        <li>Information shared by you via the application process relating to your physical and mental health.</li>
        <li>Feedback from you throughout the course or following completion of it</li>
    </ul>
    <p class="font-bold">How we get the personal information and why we have it</p>
    <p>Most of the personal information we process is provided to us directly by you. This may be provided in several ways, for e.g., email, text, direct messages, phone calls, remote meetings or via the contact form on our website.</p>
    <p>Only relevant information will be collected that relates to the services, courses or workshops delivered and your application and participation in them.</p>
    <p>Information will be collected for the following reasons:</p>
    <ul class="list-disc pl-8">
        <li>To enquire about courses and workshops offered</li>
        <li>To apply for a course or workshop or express interest in a course</li>
        <li>To evaluate a course or workshop</li>
        <li>To provide information to you about the courses or workshops offered</li>
        <li>To communicate with you about the courses and workshops offered and to communicate with you about services you’ve expressed an interest in</li>
        <li>To understand your suitability for the course or workshop you’re interested in and to discuss this further with you. This will involve asking questions about your physical and mental health. We will not ask for medical records or for any medical history that is not directly relevant to your ability to take part in the course.</li>
        <li>To evaluate the delivery of services</li>
        <li>To keep in touch with you following course completion and to invite you to future courses or workshops</li>
    </ul>
    <p>We will only send you marketing communications with your explicit consent, and we will always ensure that there is a clear way to opt out of receiving these communications. We will promptly update your contact details and preferences at your request.</p>
    <p>Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this information is:</p>
    <p class="font-bold">(a) Your consent. You are able to remove your consent at any time. You can do this by contacting Kirsty Morgan on kirsty.morgan@gmail.com</p>
    <p class="font-bold">How we store your personal information</p>
    <p>Your information is securely stored on a password protected laptop or in a secure password protected cloud and is not stored or transported on portable electronic devices such as memory sticks.</p>
    <p>Your data will never be shared with third parties without your explicit consent.</p>
    <p>You have the right to object to how we store your data if you wish. If you want to exercise this right, please contact me using the contact details provided on this Privacy Policy.</p>
    <p>We keep your personal information for as long as is necessary to provide the services that you’ve requested or for essential purposes such as complying with legal or insurance requirements or with BAMBA requirements.</p>
    <p>If you agree for us to keep your personal data on record so we can keep in touch with you then it will be held in that way until you request that it is disposed. We will then dispose your information by permanently deleting from any devices including email records or documents saved. Any hard copies will be confidentially destroyed.</p>
    <p>We will only send you marketing communications with your explicit consent, and we will always ensure that there is a clear way to opt out of receiving these communications. We will promptly update your contact details and preferences at your request.</p>
    
    <p class="font-bold">Web analytics and cookies</p>
    <p>This website collects personal data to power our site analytics, including:</p>
    <ul class="list-disc pl-8">
        <li>Information about your browser, network, and device</li>
        <li>Web pages you visited prior to coming to this website</li>
        <li>Your IP address</li>
    </ul>
    <p>This information may also include details about your use of this website, including:</p>
    <ul class="list-disc pl-8">
        <li>Clicks</li>
        <li>Internal links</li>
        <li>Pages visited</li>
        <li>Scrolling</li>
        <li>Searches</li>
        <li>Timestamps</li>
    </ul>
    <p>We share this information with Squarespace, our website analytics provider, to learn about site traffic and activity.</p>
    <p>This website uses cookies and similar technologies, which are small files or pieces of text that download to a device when a visitor accesses a website or app. For information about viewing the cookies dropped on your device, visit The cookies Squarespace uses – Squarespace Help Center.</p>
    <p>These functional and required cookies (The cookies Squarespace uses – Squarespace Help Center) are always used, which allow Squarespace, our hosting platform, to securely serve this website to you.</p>
    <p>These analytics and performance cookies (The cookies Squarespace uses – Squarespace Help Center) are used on this website, as described below, only when you acknowledge our cookie banner. This website uses analytics and performance cookies to view site traffic, activity, and other data.</p>
    <p>When you submit information to this website via webform, we collect the data requested in the webform in order to track and respond to your submissions. We share this information with Squarespace, our online store hosting provider, so that they can provide website services to us. We also share this information with our email provider Google.</p>
    <p>This website includes share buttons which enable you to share pages or other content from this site to other sites you share the information to such as social media sites. If you click a share button, these third parties may receive your personal data, including:</p>
    <ul class="list-disc pl-8">
        <li>Information about your browser, network and device</li>
        <li>Details about the web page or content you shared or proposed to share</li>
        <li>Your IP address</li>
    </ul>
    <p>This website includes commenting functionality on some pages which enables you to post a comment. This website collects personal data when you post a comment, including:</p>
    <ul class="list-disc pl-8">
        <li>Your name (which will be displayed as part of your posted comment)</li>
        <li>Your email address (optional, to let you know if someone replies to your comment)</li>
        <li>Your website URL (optional)</li>
    </ul>
    <p>This website includes “likes” functionality on some blog posts which enables you to “like” a post. This website collects personal data when you like a post to try to prevent the same person from liking the same post during the same visit, including:</p>
    <ul class="list-disc pl-8">
        <li>Information about your browser, network and device</li>
        <li>Details about the web page or content you shared or proposed to share</li>
        <li>Your IP address</li>
    </ul>
    <p>We may send you marketing emails, which you can unsubscribe from by clicking the link at the bottom of the email. We share your contact information with Squarespace, our email marketing provider, so they can send these emails on our behalf.</p>
    <p>This website serves font files from and renders fonts using Google Fonts and Adobe Fonts. To properly display this site to you, these third parties may receive personal information about you, including:</p>
    <ul class="list-disc pl-8">
        <li>Information about your browser, network, or device</li>
        <li>Information about this site and the page you’re viewing on it</li>
        <li>Your IP address</li>
    </ul>
    <p>This website is hosted by Squarespace. Squarespace collects personal data when you visit this website, including:</p>
    <ul class="list-disc pl-8">
        <li>Information about your browser, network and device</li>
        <li>Web pages you visited prior to coming to this website</li>
        <li>Web pages you view while on this website</li>
        <li>Your IP address</li>
    </ul>
    <p>Squarespace needs the data to run this website, and to protect and improve its platform and services. Squarespace analyzes the data in a de-personalized form.</p>
    
    <p class="font-bold">Your data protection rights</p>
    <p>Under data protection law, you have rights including:</p>
    <ul class="list-disc pl-8">
        <li>Your right of access - You have the right to ask us for copies of your personal information.</li>
        <li>Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
        <li>Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances.</li>
        <li>Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in certain circumstances.</li>
        <li>Your right to object to processing - You have the right to object to the processing of your personal information in certain circumstances.</li>
        <li>Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.</li>
        <li>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.</li>
    </ul>
    <p>Please contact us at kirsty.morgan@gmail.com if you wish to make a request.</p>
    
    <p class="font-bold">How to complain</p>
    <p>If you have any concerns about our use of your personal information, you can make a complaint to us at Kirsty Morgan, kirsty.morgan@gmail.com or via the contact form on the website www.untangled-presence.com</p>
    <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
    <p>The ICO’s address:
        </br>
        Information Commissioner’s Office
        </br>
        Wycliffe House
        </br>
        Water Lane
        </br>
        Wilmslow
        </br>
        Cheshire
        </br>
        SK9 5AF
    </p>
    <p>Helpline number: 0303 123 1113</p>
    <p>ICO website: https://www.ico.org.uk</p>
</div>
{% endblock %}
