{% extends "base.njk" %}

{% block title %}Untangled - About me{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10 text-left text-xl mb-16">
    <h1 class="text-center text-6xl py-8 font-bold">What does Untangled and Untangled Presence mean to me?</h1>
    <p>When I’m lost in my thoughts, my mind can feel frantic and I can either find myself ruminating or catastrophising, or I feel as if I have so many thoughts, I can’t possibly keep up with them. When I feel like that, I can be emotional and reactive, and don’t always respond to things in the best way. My mind feels knotted up and my body can be tense and wound up. When I feel like this, the thoughts get stronger and my physical response to them even tighter which makes me feel more stressed, anxious and overwhelmed.</p>
    <p>Often the stories I’m telling myself in my mind aren’t true,
        <strong>after all thoughts are just thoughts, they’re not facts</strong>. When I bring mindful awareness to my life, I can see this more clearly and can untangle from the thoughts and emotions. My mindfulness practice helps because when I get lost in thought I now notice that. I recognise that I’m ‘in my head’ and can bring awareness to my present moment in various ways such as using my senses or noticing my breath. Simply doing this reduces the stress that I feel through being in my thoughts. Mindfulness also helps me to understand why my thoughts are what they are, it’s human nature and the way we’ve evolved. Through knowing this I can be understanding and gentle with myself and offer myself compassion when I’m struggling.
    </p>
    <p>
        <strong>Both mindful awareness and self-compassion help me to soften towards my experience and the knots I’ve been feeling mentally and physically loosen.</strong> That’s what Untangled means to me.
    </p>
    <p>However, mindfulness is a practice and so I will then start to get knotted up again soon enough. My mindfulness practice helps me to be aware that this is happening, and I can practice again noticing my present moment, being understanding and kind and opening up to the moment again. That’s what Untangled Presence means – we can only untangle in the present moments of the day.</p>
</div>
{% endblock %}
