{% extends "base.njk" %}

{% block title %}Untangled - Mindfulness-Based Stress Reduction{% endblock %}

{% block content %}
<div class="container mx-auto max-w-prose max-w-screen-lg px-8 leading-10 text-left text-xl">
    <h1 class="text-center text-6xl py-8 font-bold">Mindfulness-Based Stress Reduction</h1>
    <p>The 8-week MBSR course is for anyone interested in boosting their wellbeing, by finding new ways to live with more energy, focus and compassion.</p>
    <p>It’s designed to support you if you are experiencing, or have experienced, stress, anxiety, depression or chronic pain which negatively impacts your life.</p>
    <p>With a maximum of 10 people, you will learn about mindfulness through a variety of different meditations, group discussions and teachings. Read testimonials from past participants.</p>
    <p>Amongst other things, over the course of 8 weeks you will learn:</p>
    <ul class="list-disc pl-8">
        <li>How to be aware of your body and how this can support you in difficult or stressful situations</li>
        <li>How to be more compassionate, gentle and kind to yourself and other people and the transformative impact this can have on your life</li>
        <li>About the negativity bias and ways in which you can rewire your brain to balance this with more positive experiences</li>
        <li>Why people tend to react the way they do and how mindfulness helps you to respond in better ways</li>
        <li class="mb-8">How to be aware of thoughts instead of caught up in them, believing them all. This awareness can lead to life changing behaviours through having more confidence, self-compassion and ambition</li>
    </ul>
    <p>The course comprises a two-hour session every week for eight weeks. To get the most out of the experience, home practice will also be recommended.</p>
</div>
{% endblock %}
